
<p>Welcome to My IndexPage,please make a choose</p>
<div>
    <a href="/skipLink/mineClearPage">扫雷</a>❤
    <a href="/skipLink/mineClearPages">扫雷2</a>✪
    <a href="/skipLink/gluSnakePage">贪吃蛇</a>❁
    <a href="/skipLink/fruitSlicePage">切水果</a>☸
    <a href="/skipLink/spiSolitairePage">蜘蛛纸牌</a>❉
    <a href="/skipLink/jigsawPage">拼图</a>✿
    <a href="/skipLink/shootPage">射击游戏</a>❂
    <a href="/skipLink/gobangPage">五子棋</a>☺
    <a href="/skipLink/tetrisPage">俄罗斯方块</a>★
    <a href="/skipLink/sudokuPage">数独</a>❤
</div>
